
<br>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<% @title = "My class" %>

<section class="col-sm-12 col-xs-12 bg-primary" style="margin-top:-5%; min-height:50px;">
  <div class="container">
    <div class="row">
      <h1 style="color:rgba(255,255,255,1);"><%= @class.class_name %></h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <style media="screen">
      .card{display:flex; margin:5px;}
    </style>

		<div class="" style="width:100%;">
    <style media="screen">
      .course_list a, .card p, .card h4, .card ,fa {color:rgba(255,255,255,1);}
    </style>
      <% if @class %>
        <% @courses = @class.courses.all %>
        <% if @courses %>
          <% @courses.each do |cour| %>
          <div class="card col-sm-3 col-xs-12 flex" style="float:left; margin-right:50px;">
            <h4 style="margin-top:20px;height:100px;"><%= cour.course_name %></h4>
            <p style="height:70px;"><%= cour.course_description[0,100] %>...</p>
            <p class="title"> <%= 'by'.capitalize %>: <a><%= cour.user.last_name %> <%= cour.user.last_name %></a></p>

            <div class="course" style="margin: 24px 0;">
              <style media="screen">
                .course a{margin-right:20px; color: rgba(255,255,255,1);}
              </style>
              <a href="#"><i class="fa fa-users"></i> <%= cour.course_users.all.size.to_i %></a>

              <a href="#">Module <%= cour.moduls.all.size.to_i %></a>
            </div>
            <p><a href="/show/course/<%= cour.id %>" class="button">Go to course</a></p>
          </div>
          <% end %>
        <% else %>
          myaw
        <% end %>
      <% else %>
        medo
      <% end %>


		</div>

  </div>
</div>
