
<br>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% @title = "Course" %>

<div class="container">
  <div class="row">
    <style media="screen">
      .card{display:flex; margin:5px;}
    </style>

		<div class="col-sm-9 col-xs-12" style="width:100%;">
			<style media="screen">
				.course_list a{color:rgba(255,255,255,1);}
			</style>
          <% if @courses.size.to_i == 0 %>
            <a>There is no course publish yet</a>
          <% end %>
					<%
            if @courses
            @courses.each do |cour| %>
          <div class="card col-sm-5 col-xs-12 flex" style="float:left; margin-right:50px;">
            <h4 style="margin-top:20px;height:100px;"><%= cour.course_name %></h4>
            <p style="height:70px;"><%= cour.course_description[0,100] %>...</p>
            <p class="title"> <%= 'by'.capitalize %>: <a><%= cour.user.last_name %> <%= cour.user.last_name %></a></p>

            <div class="course" style="margin: 24px 0;">
              <style media="screen">
                .course a{margin-right:20px; color: rgba(255,255,255,1);}
              </style>
              <a href="#"><i class="fa fa-users"></i> <%= cour.course_users.all.size.to_i %></a>

              <a href="#">Module <%= cour.moduls.all.size.to_i %></a>
            </div>
            <p><a href="/course/<%= cour.id %>" class="button">Go to course</a></p>
          </div>

					<% end end %>
		</div>
    <div class="jumbotron col-sm-3 col-xs-12" style="float:right; border-left:rgba(255,255,255,0.1) 1px solid;">
      <% if @user.is_a_teacher.to_i == 1 || @user.is_admin.to_i == 1   %>
        <a class="dropdown-item" href="/course/my-courses">My courses</a>
        <a class="dropdown-item" href="/course/new">new course</a>
      <% end %>
    </div>

  </div>
</div>
