
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<br>

<% @title = "Show Course" %>


<div class="container">
  <div class="row">
    <div class="jumbotron" style="width:100%;">
      <h1 style="display:block;"><%= @course.course_name  %></h1>
      <% if flash[:success] %>
        <div id="success" style="color:rgba(255,255,255,1);">
        <%= flash[:success] %>
        </div>
        <br>
      <% end %>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#modul">Modules</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Option</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="tab" href="#new_modul">New module</a>
            <a class="dropdown-item" data-toggle="tab" href="#">Another action</a>
            <a class="dropdown-item"data-toggle="tab"  href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="tab" href="#AddCourseUser">Subscription</a>
          </div>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="description">
          <p style="color:rgba(255,255,255,1);"><%= @course.course_description  %></p>
        </div>
        <div class="tab-pane fade" id="modul">
          <% if @course.moduls.size.to_i == 0  %>
            <p style="color:rgba(255,255,255,1);">There is no module availiable for this course</p>
          <%  end  %>
          <% @moduser = @user.course_users.find_by_course_id(@course.id) %>
          <% if !@moduser %>
            <p style="color:rgba(255,255,255,1);">You suppose to subscribe before you can go to the modules of this course</p>
          <% end %>
          <ul class="list-group">
						<%  @course.moduls.each do |modul|  %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <% if @moduser %>
              <a href="<%= @course.id %>/<%= modul.modul_title.to_s.parameterize %>/<%= modul.modul_number %>" style="color:rgba(255,255,255,1);">
              <% else %>
                  <a style="color:rgba(255,255,255,1);">
              <% end %>
                - <%= modul.modul_title  %>
              </a>


              <% if modul.modul_users.size > 0  %>
              <span>
								<span class="badge badge-primary badge-pill"><%= modul.modul_users.size  %></span>
								Student<% if modul.modul_users.size > 1 %>(s)<% end%> complete this module
							</span>
              <% end %>

            </li>
            <%  end  %>
          </ul>



        </div>
        <div class="tab-pane fade" id="new_modul">
          <br>
          <div class="form-style-10 prinska" style="margin: 0 auto;">
            <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

             <form id="" action="/modul/new" method="post">
                  <style>
                  .input-group-addon{width:100px;}
                  .kk{min-width:250px;}
                  </style>

                  <div class="inner-wrap">

                      <label>Title
                          <input id="titre1" name="modul_title" value="" style="width:; border:rgba(255,255,255,0.00001) solid 1px; border-radius:0px;" class="form-control titre" type="text" placeholder="Add the module title">
                          <input id="" name="course_id" value="<%= @course.id %>" type="hidden">
                          <input id="" name="modul_number" value="<%= @modul.size.to_i + 1 %>" type="hidden">
                      </label>


                      <label>Description
                          <textarea id="" name="modul_description" value="" style="width:; resize: vertical; min-height:50px; border:rgba(255,255,255,0.00001) solid 1px;" class="form-control para1" type="text" placeholder="The module description here"></textarea>
                      </label>


                      <label>Description
                          <textarea id="summernote" name="modul_content" value="" style="width:; resize: vertical; min-height:50px; border:rgba(255,255,255,0.00001) solid 1px;" class="form-control para1" type="text" placeholder="The content here"></textarea>
                      </label>

                      <script>
                        $(document).ready(function() {
                            $('#summernote').summernote();
                        });
                      </script>

                      <button type="submit"  class="dark pull-right button" style="margin-right:10px;margin-top:;">
                        Soumettre
                      </button>
                      <br>

                  </div>

              </form>

            <script type="text/javascript">
              $(document).ready(function() {
                // submit form using $.ajax() method
                $('#addc').submit(function(e){
                  e.preventDefault(); // Prevent Default Submission
                  $.ajax({
                    url: '/ajouter/cours/',
                    type: 'POST',
                    data: $(this).serialize() // it will serialize the form data
                  })
                    .done(function(data){
                    $('#addc').fadeOut('slow', function(){
                      $('#addc').fadeIn('slow').html(data);
                    });
                  })
                    .fail(function(){
                    alert('Ajax Submit Failed ...');
                  });
                });
              });
            </script>

          </div>
        </div>
        <div class="tab-pane fade" id="AddCourseUser">
          <br>
          <form id="idForm1" action="/add/CourseUser" method="POST"  style="float:; padding:5px;">
            <input type="hidden" name="course_id" value="<%= @course.id  %>">
            <input type="hidden" name="user_id" value="<%= @user.id  %>">
            <input type="hidden" name="status" value="1">
            <button type="submit" id="gf" class="btn btn-sm btn-info gf" onclick="myFunctione()">
                Click to subscribe to this course
            </button>
          </form>


          <script>
            // this is the id of the form
            $("#idForm").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {

            }
            });
            });
          </script>
        </div>
      </div>



    </div>
  </div>
</div>
