
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<% @title = "Show Course" %>

<section class="col-sm-12 col-xs-12 bg-primary" style="margin-top:-5%; min-height:50px;">
  <div class="container">
    <div class="row">
      <h4 style="color:rgba(255,255,255,1); margin-top:10px;display:block; width:100%;"><%= @course.course_name %></h4>

      <div class="" style="display:block;">
        <ul class="nav nav-tabs" >
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#descriptio">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#modul">Modules</a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Option</a>
            <div class="dropdown-menu">
              <% if @user.courses.find_by_id(@course.id) %>
                <a class="dropdown-item" data-toggle="tab" href="#new_modul">New module</a>
                <a class="dropdown-item" data-toggle="tab" href="#course_edit">Edit this course</a>
                <a class="dropdown-item"  href="/course/delete/<%= @course.id %>">Delete this course</a>
              <% end %>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" data-toggle="tab" href="#AddCourseUser">Activation</a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="jumbotronj" style="width:100%;">
      <% if flash[:success] %>
        <div id="success">
        <%= flash[:success] %>
        </div>
        <br>
      <% end %>
      <div id="myTabContent" class="tab-content" style="margin-top:2%;">
        <div class="tab-pane fade show active" id="descriptio">
          <br>
          <p ><%= @course.course_description %></p>
        </div>
        <div class="tab-pane fade" id="modul">
          <% if @course.moduls.size.to_i == 0  %>
            <p >There is no module availiable for this course</p>
          <%  end  %>
          <% @moduser = @user.course_users.find_by_course_id(@course.id) %>
          <% if !@moduser %>
            <p>You suppose to activate the course before you can go to the modules of this course</p>
          <% end %>
          <ul class="list-group">
						<%  @course.moduls.each do |modul|  %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <% if @moduser %>
              <a href="<%= @course.id %>/<%= modul.modul_title.to_s.parameterize %>/<%= modul.modul_number %>">
              <% else %>
                  <a>
              <% end %>
                - <%= modul.modul_title  %>
              </a>


              <% if modul.modul_users.size > 0  %>
              <span>
								<span class="badge badge-primary badge-pill"><%= modul.modul_users.size  %></span>
								Student<% if modul.modul_users.size > 1 %>(s)<% end%> complete this module
							</span>
              <% end %>

            </li>
            <%  end  %>
          </ul>



        </div>
        <div class="tab-pane fade" id="new_modul">
          <br>
          <div class="" style="margin: 0 auto;">
            <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

             <form id="" action="/modul/new" method="post">
                 <div class="form-group">
                   <label for="exampleInputEmail1">Title</label>
                   <input type="text" name="modul_title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Add the module title here">
                   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                   <input id="" name="course_id" value="<%= @course.id %>" type="hidden">
                 </div>

                 <div class="form-group">
                   <label for="exampleInputEmail1">Description</label>
                   <textarea type="text" name="modul_description" class="form-control" id="summernote" aria-describedby="emailHelp" placeholder="Add the module description here"></textarea>
                   <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
                 </div>

                 <div class="form-group">
                   <label for="exampleInputEmail1">Content</label>
                   <textarea type="text" name="modul_content" class="form-control" id="summernote" aria-describedby="emailHelp" placeholder="Add the module content here"></textarea>
                   <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
                 </div>

                <script>
                  $(document).ready(function() {
                      $('#summernote').summernote();
                  });
                </script>

                <button type="submit"  class="btn btn-sm btn-success" style="margin-right:10px;margin-top:;">
                  Soumettre
                </button>
                <br>

              </form>

          </div>
        </div>
        <div class="tab-pane fade" id="AddCourseUser">
          <br>
          <form id="idForm1" action="/add/CourseUser" method="POST"  style="float:; padding:5px;">
            <input type="hidden" name="course_id" value="<%= @course.id  %>">
            <input type="hidden" name="user_id" value="<%= @user.id  %>">
            <input type="hidden" name="status" value="1">
            <button type="submit" id="gf" class="btn btn-sm btn-info gf" onclick="myFunctione()">
                Click to activate this course
            </button>
          </form>


          <script>
            // this is the id of the form
            $("#idForm").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {

            }
            });
            });
          </script>
        </div>

        <div class="tab-pane fade" id="course_edit">
          <br>
          <div class="" style="margin: 0 auto;">

             <form id="" action="/edit/course/<%= @course.id %>" method="post" >
                <input id="hidden" type="hidden" name="_method" value="PATCH">
                <div class="form-group">
                  <label for="exampleInputEmail1">Course's name</label>
                  <input type="text" name="course_name" value="<%= @course.course_name %>" class="form-control" aria-describedby="emailHelp" placeholder="Add the module content here">
                  <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Description of the course</label>
                  <textarea type="text" name="course_description" class="form-control" id="summernote" aria-describedby="emailHelp" placeholder="The course's name" style="resize: vertical; min-height:50px;"><%= @course.course_description%></textarea>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>



                <button type="submit"  class="btn btn-sm btn-info" style="margin-right:10px;margin-top:;">
                  Edit
                </button>
                <br>
              </form>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>
