<% @title = @user.pseudo %>

<!-- https://www.tutorialspoint.com/ruby-on-rails-2.1/rails-file-uploading.htm-->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/resume.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<section class="col-sm-12 col-xs-12 bg-primary" style="margin-top:-4%; min-height:50px;">
  <div class="container">
    <div class="row">
      <h4 style="color:rgba(255,255,255,1); margin-top:10px; display:block; width:100%;">
        <%= @user.last_name %> <span style="color:rgba(255,255,255,1); "><%= @user.first_name %></span>
      </h4>


      <style media="screen">
        .nav-link{color:rgba(255,255,255,1);}
      </style>
      <div class="" style="display:block;">
        <ul class="nav nav-tabs" >
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#perso">Personal information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#portfolio">Portfolio</a>
          </li>
          <% if @user.is_admin == 1 %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Option</a>
            <div class="dropdown-menu">
              <% if @user.id == @user1.id %>
              <a class="dropdown-item" data-toggle="tab" href="#password">Chage password</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <% if @user.id == @user1.id ||  @user1.is_admin == 1 %>
              <a class="dropdown-item" data-toggle="tab" href="#delete">Delete account</a>
              <% end %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">


  <% if flash[:profil] %>
    <div id="success">
    <%= flash[:profil] %>
    </div>
    <br>
  <% end %>

<div id="myTabContent" class="tab-content w3-light-gre" style="">

<!-- Page Container -->
<div id="perso" class="tab-pane fade show active w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third" >

      <div class="w3-white w3-text-grey w3-card-4" >
        <div>
          <div class="w3-display-container">
            <div class="containere">
              <img src="/images/user.png" style="width:100%" alt="<%= @user.pseudo %>">
              <div class="overlay">
                <div class="text">Hello World</div>
              </div>
            </div>

            <br><br><br>
            <div class="w3-display-bottomleft w3-container w3-text-black" style="width:100%;">
              <h2 style="text-align:centerr;">
                <%= @user.last_name %> <%= @user.first_name %>
                <% if @user.id == @user1.id %>
                <button data-toggle="modal" data-target="#pblock" style="float:right; font-size:0.5em; background-color:rgba(255,255,255,0.000000001); border:red 0px solid;">
                  <i class="fa fa-edit"></i>
                </button>
                <% end %>
              </h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>
              <% if @resume.title %>
                <%= @resume.title %>
                <% else %>
                  not yet complete
              <% end %>
            </p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
              <% if @user.address %>
                <%= @user.address %>
                <% else %>
                  not yet complete
              <% end %>
            </p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
              <% if @user.email %>
                <%= @user.email %>
                <% else %>
                  not yet complete
              <% end %>
            </p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>
              <% if @user.phone %>
                <%= @user.phone %>
                <% else %>
                  not yet complete
              <% end %>
            </p>
            <hr>

            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>

            <% if @resume.skills %>
                <% @skills = @resume.skills.split(",") %>
                <%
                  if @skills
                    @skills.each do |skil|
                %>
                <p><%= skil %></p>
                <br>
                <% end end %>
                <% else %>
                  <p>Not yet complete</p>
                  <br>
              <% end %>

            <br>
          </div>
        </div>


        <div class="modal" id="pblock">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form id="" action="/edit/perso" method="post" >
                <input id="hidden" type="hidden" name="_method" value="PATCH">
                <div class="modal-header">
                  <h5 class="modal-title" style="color:rgba(255,255,255,1);">Edit your personal information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body"  >
                  <style media="screen">
                    .modal-body p{color: rgba(255,255,255,1)}
                  </style>

                  <div class="form-group">
                    <label for="first_name">First name</label>
                    <input type="text" name="first_name" value="<%= @user.first_name %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the teacher's first name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="first_name">Last name</label>
                    <input type="text" name="last_name" value="<%= @user.last_name %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your ">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="first_name">Title</label>
                    <input type="text" name="title" value="<%= @resume.title %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your title here">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="first_name">Address</label>
                    <input type="text" name="address" value="<%= @user.address %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter address here">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="first_name">Phone number</label>
                    <input type="text" name="phone" value="<%= @user.phone %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: 123456789">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="first_name">Skills</label>
                    <input type="text" name="skills" value="<%= @resume.skills %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: laravel, sinatra, ruby on rails">
                    <small id="emailHelp" class="form-text text-muted">put your skills here separate by a coma (,)</small>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Confirm with your password</label>
                    <input type="password" name="password" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your password here">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save Change</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          Work Experience
          <% if @user.id == @user1.id %>
          <button id="edit" onclick="document.getElementById('edit').style.display='none'; document.getElementById('wbloc1').style.display='block'; document.getElementById('wbloc').style.display='none';" class=""style="float:right; font-size:0.5em; background-color:rgba(255,255,255,0.000000001); border:red 0px solid;">
            <i class="fa fa-edit"></i>
          </button>
          <% end %>
        </h2>



        <div class="w3-container" style="width:100%;">
          <div id="wbloc">
            <% if @resume.company_experience %>
            <h5 class="w3-opacity"><b><%= @resume.position %> / <%= @resume.company_experience %></b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>
              <%= @resume.start_date %> -
              <% if @resume.end_date != "" %>
                <%= @resume.end_date %>
                <% else %>
                <span class="w3-tag w3-teal w3-round">Current</span>
                <% end %>
              </h6>
            <p><%= @resume.task %></p>
            <% else %>
              <p style="display:block; width:100%;">Not complete</p>
            <% end %>
          </div>
          <div id="wbloc1" style="display:none;  padding:10px;">
            <form id=""  class="" action="/edit/user/work" method="post">
              <input id="hidden" type="hidden" name="_method" value="PATCH">
              <div>
                <div class="form-group" style="">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Company</label>
                    <input type="text" name="company_experience" value="<%= @resume.company_experience %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The name of the company">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Position</label>
                    <input type="text" name="position" value="<%= @resume.position %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your position here">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Task</label>
                    <textarea type="text" name="task" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your task here"><%= @resume.task %></textarea>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Start date</label>
                    <input type="date" name="start_date" value="<%= @resume.start_date %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">End date</label>
                    <input type="date" name="end_date" value="<%= @resume.end_date %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <b onclick="document.getElementById('next').style.display='none';document.getElementById('last').style.display='block';" style="display:inline-block;" id="next" class="btn btn-info btn-sm" name="button">Next</b>
                  <div class="" id="last" style="display:none;">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Enter your password to continue</label>
                      <input type="password" name="password" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your password here">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <input type="submit" class="btn btn-sm btn-success" value="Submit change">
                    <span onclick="document.getElementById('edit').style.display='inline-block';document.getElementById('wbloc1').style.display='none';document.getElementById('wbloc').style.display='inline-block'; document.getElementById('next').style.display='inline-block'; document.getElementById('last').style.display='none';" class="btn btn-sm btn-warning">Cancel</span>
                  </div>
                </div>
              </div>

            </form>
          </div>

          <hr>
        </div>

      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          Education
          <% if @user.id == @user1.id %>
          <button id="edit1" onclick="document.getElementById('edit1').style.display='none'; document.getElementById('ebloc1').style.display='block'; document.getElementById('ebloc').style.display='none';" class=""style="float:right; font-size:0.5em; background-color:rgba(255,255,255,0.000000001); border:red 0px solid;">
            <i class="fa fa-edit"></i>
          </button>
          <% end %>
        </h2>
        <div class="w3-container">
          <% if @resume.education_shool %>
          <div id="ebloc">
            <h5 class="w3-opacity"><b><%= @resume.education_shool %></b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>
              <%= @resume.education_start_date %> -
              <% if @resume.education_end_date != "" %>
                <%= @resume.education_end_date %>
                <% else %>
                <span class="w3-tag w3-teal w3-round">Forever</span>
                <% end %>
              </h6>
            <p><%= @resume.education_option %></p>
            <hr>
          </div>
          <% else %>
            <p>Not yet update</p>
          <% end %>

            <div id="ebloc1" style="display:none;  padding:10px;">
              <form id=""  class="" action="/edit/user/ed" method="post">
                <input id="hidden" type="hidden" name="_method" value="PATCH">
                <div>
                  <div class="form-group" style="">
                    <div class="form-group">
                      <label for="exampleInputEmail1">School name</label>
                      <input type="text" name="education_shool" value="<%= @resume.education_shool %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The name of the school here">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Option</label>
                      <input type="text" name="education_option" value="<%= @resume.education_option %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The option here">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Start date</label>
                      <input type="date" name="education_start_date" value="<%= @resume.education_start_date %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">End date</label>
                      <input type="date" name="education_end_date" value="<%= @resume.education_end_date %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <b onclick="document.getElementById('next1').style.display='none';document.getElementById('last1').style.display='block';" style="display:inline-block;" id="next1" class="btn btn-info btn-sm" name="button">Next</b>
                    <div class="" id="last1" style="display:none;">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Enter your password to continue</label>
                        <input type="password" name="password" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your password here">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>

                      <input type="submit" class="btn btn-sm btn-success" value="Submit change">
                      <span onclick="document.getElementById('edit1').style.display='inline-block';document.getElementById('ebloc1').style.display='none';document.getElementById('ebloc').style.display='inline-block'; document.getElementById('next1').style.display='inline-block'; document.getElementById('last1').style.display='none';" class="btn btn-sm btn-warning">Cancel</span>
                    </div>
                  </div>
                  </div>
              </form>
            </div>

        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<div class="tab-pane fade show" id="portfolio">
  <br>
  <h3>Modul complete</h3>
  <p style="color:rgba(255,255,255,1);">
  <ul class="list-group">
    <%
      @mo = @user.modul_users.all

      if @mo
        @mo.each do |modu|
          @m = Modul.find_by_id(modu.modul_id)
    %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/show/course/<%= @m.course_id %>/<%= @m.modul_title.to_s.parameterize %>/<%= @m.modul_number %>">
        <%= @m.modul_title %>
      </a>
    </li>
    <% end end %>
  </ul>
  </p>
</div>

<div class="tab-pane fade show" id="password">
  <br>
  <form id="" action="/edit/password/<%= @user.id %>" method="post" >
     <input id="hidden" type="hidden" name="_method" value="PATCH">
     <div class="form-group">
       <label for="exampleInputEmail1">Old password</label>
       <input type="password" name="password" class="form-control"  aria-describedby="emailHelp" placeholder="Old password here" style="">
       <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
     </div>

     <div class="form-group">
       <label for="exampleInputEmail1">New password</label>
       <input type="password" name="pwd" class="form-control" aria-describedby="emailHelp" placeholder="New password here" style="">
       <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
     </div>

     <button type="submit"  class="btn btn-sm btn-info" style="margin-right:10px;margin-top:;">
       Change
     </button>
     <br>
   </form>
</div>

<div class="tab-pane fade show" id="delete">
  <br>
  <a href="/delete/user/<%= @user.id %>" class="btn btn-warning"> Click here if you realy want to delete your account</a>
</div>
</div>
</div>
</div>
