<% @title = @user.pseudo %>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style media="screen">
/* USER PROFILE PAGE */
.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #00CED1;
  width: 100%;

}
.card.hovercard .card-background {
  height: 130px;
}
.card-background img {

  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.card.hovercard .useravatar img {
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.card-title {
  padding:0 5px;
  font-size: 40px;
  font-family: cursive;
  line-height: 1;
  color: #00CED1;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card.hovercard .card-info {
  padding:0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}
.btn.btn-primary {
  font-family:cursive;
  font-size:20;
  color:#00CED1;
}
p {
  font-family: serif;
  font-size:18px;
  color:#00CED1;
}
h3 {
  font-family: serif;
  font-size:25px;
  color:#00CED1;
}
#AboutPiece, #AboutMe, #Portfolio, #ContactMe{
   background-color: #FFEBCD;
}
.well {
  background-color: #FFFAF0;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
$(".btn-pref .btn").click(function () {
  $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
  // $(".tab").addClass("active"); // instead of this do the below
  $(this).removeClass("btn-default").addClass("btn-primary");
});
});
</script>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
    <div class="card hovercard">
      <div class="card-background">
        <img class="card-bkimg" alt="" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/5792_167366633419376_1680462766_n.jpg?oh=1fa3d2de8138d129be0b9026307f6431&oe=59019AA8">
      </div>
      <div class="useravatar">
          <img alt="" src="images/user.png">
      </div>
      <div class="card-info"> <span class="card-title"><%= @user.last_name %> <%= @user.first_name %></span>
      </div>
    </div>


    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#about">
          About
          <% if @user.id == @user1.id %>
            me
            <% else %>
              <%= @user.pseudo %>
          <% end %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Option</a>
        <div class="dropdown-menu">

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="tab" href="#AddCourseUser">Subscription</a>
        </div>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <style media="screen">
        .tab-pane .fa{color:rgba(255,255,255,1);}
      </style>
      <div class="tab-pane fade show active" id="about">
        <br>
        <% if flash[:success] %>
          <div id="success" style="color:rgba(255,255,255,1);">
          <%= flash[:success] %>
          </div>
          <br>
        <% end %>

        <h1 style="color:#00CED1;">First name:
          <span id="firstname" style="color:rgba(255,255,255,1); "><%= @user.first_name %></span>

          <form id="efirstname" style="display:none;" class="" action="/<%= @user.first_name %>/edit/first_name" method="post">
            <div>
              <div class="form-group" style="">
                <input type="text" name="up" class="form-control" value="<%= @user.first_name %>" style="width:30%;" required placeholder="Enter your first name here">

                <b onclick="document.getElementById('next').style.display='none';document.getElementById('last').style.display='block';" style="display:inline-block;" id="next" class="btn btn-info btn-sm" name="button">Next</b>
                <div class="" id="last" style="display:none;">
                  <input type="password" name="password" class="form-control" style="width:30%;" placeholder="Enter your password to continue">
                  <input type="submit" class="btn btn-sm btn-success" value="Submit change">
                  <span onclick="document.getElementById('edit').style.display='inline-block';document.getElementById('efirstname').style.display='none';document.getElementById('firstname').style.display='inline-block'; document.getElementById('next').style.display='inline-block'; document.getElementById('last').style.display='none';" class="btn btn-sm btn-warning">Cancel</span>
                </div>
              </div>
            </div>

          </form>
          <% if @user.id == @user1.id %>
          <button id="edit" onclick="document.getElementById('edit').style.display='none';document.getElementById('efirstname').style.display='block';document.getElementById('firstname').style.display='none';" class=""style="float:right; font-size:0.5em; background-color:rgba(255,255,255,0.000000001); border:red 0px solid;">
            <i class="fa fa-edit"></i>
          </button>
          <% end %>

        </h1>


        <h1 style="color:#00CED1;">Last name:
          <span id="lastname" style="color:rgba(255,255,255,1); "><%= @user.last_name %></span>

          <form id="elastname" style="display:none;" class="" action="/<%= @user.last_name %>/edit/last_name" method="post">
            <div>
              <div class="form-group" style="">
                <input type="text" name="up" class="form-control" value="<%= @user.last_name %>" style="width:30%;" required placeholder="Enter your last name here">

                <b onclick="document.getElementById('next1').style.display='none';document.getElementById('last1').style.display='block';" style="display:inline-block;" id="next1" class="btn btn-info btn-sm" name="button">Next</b>
                <div class="" id="last1" style="display:none;">
                  <input type="password" name="password" class="form-control" style="width:30%;" placeholder="Enter your password to continue">
                  <input type="submit" class="btn btn-sm btn-success" value="Submit change">
                  <span onclick="document.getElementById('edit1').style.display='inline-block';document.getElementById('elastname').style.display='none';document.getElementById('lastname').style.display='inline-block'; document.getElementById('next1').style.display='inline-block'; document.getElementById('last1').style.display='none';" class="btn btn-sm btn-warning">Cancel</span>
                </div>
              </div>
            </div>

          </form>
          <% if @user.id == @user1.id %>
          <button id="edit1" onclick="document.getElementById('edit1').style.display='none';document.getElementById('elastname').style.display='block';document.getElementById('lastname').style.display='none';" class=""style="float:right; font-size:0.5em; background-color:rgba(255,255,255,0.000000001); border:red 0px solid;">
            <i class="fa fa-edit"></i>
          </button>
          <% end %>

        </h1>



      </div>


      <div class="tab-pane fade show" id="portfolio">
        <br>
        <h3>Modul complete</h3>
        <p style="color:rgba(255,255,255,1);">
          <%
            @mo = @user.modul_users.all

            if @mo
              @mo.each do |modu|
                @m = Modul.find_by_id(modu.modul_id)
          %>
            <%= @m.modul_title %>
          <% end end %>
        </p>
      </div>

    </div>

  </div>
</div>
