<% @title = @what %>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <h2 style="text-align:">List of <%= @what %></h2>
    </div>

    <br>
    <% if !@see %>
    <div class="col-sm-12 col-xs-12">
      No student for now
    </div>
    <% end %>
    <div class=" col-sm-10 col-xs-12">
    <% if @see  %>
    <% @see.map do |user| %>
    <% if user.id != @user.id %>

    <div class="card col-sm-3 col-xs-12" style="float:left; margin:10px 25px 0;">
      <div class="" style="text-align:center;">
        <img src="/images/user.png" alt="John" style="width:50%;" class="thumbnail">
      </div>
      <h4 style="margin-top:20px; height:70px;"><%= user.last_name %> <%= user.first_name %></h4>
      <% if @what == 'students' %>
        <% us = user.course_users.all#CourseUser.find_by_user_id(user.id) %>
        <% if us && uss = us.last %>
        <% if @co = Course.find_by_id(uss.course_id) %>
          <p class="title"><%= @co.course_name[0,19] %>..</p>
        <% end%>
        <% else %>
          <p class="title">No course at this time</p>
        <% end %>
      <% else %>
        <% us = Course.all.where(user_id: user.id) %>
        <% if us %>
          <% if @u = us.first %>
            <p class="title"><%= @u.course_name %></p>
            <% else %>
              <p class="title">No publication yet</p>
          <% end %>
          <% else %>
            <p class="title">No publication yet</p>
        <% end %>
      <% end %>

      <p>LearnHt</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
      <p><a href="/profile/user=<%= user.pseudo %>" class="button">see profile</a></p>
    </div>
    <% end end end %>
  </div>

  <div class="jumbotron col-sm-2 col-xs-12" style="float:right; border-left:rgba(255,255,255,0.1) 1px solid;">
    <% if @user.is_admin.to_i == 1   %>
      <button class="dropdown-item btn btn-info btn-sm " data-toggle="modal" data-target="#myModal1" href="#">New teacher</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item btn btn-warning btn-sm button" data-toggle="modal" data-target="#asteacher" href="#">As teacher</button>
    <% end %>
  </div>


  </div>
</div>
