<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<% @title = "Show module" %>

<div class="container">
  <div class="row">
    <div class="modal" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="" action="/edit/module/<%= @modul.id %>" method="post" >
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <div class="modal-header">
              <h5 class="modal-title"><%= @modul.modul_title %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                <textarea name="modul_description" rows="" cols="" style="width:100%; padding:5px;"><%= @modul.modul_description %></textarea>
              </p>
              <p>
                <textarea name="modul_content" rows="" cols="" style="width:100%; padding:5px;"><%= @modul.modul_content %></textarea>
              </p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="jumbotron col-sm-9 col-xs-12" style="width:100%;">
      <h2>
        <span style="color:rgba(220,177,10);"><%= @modul.modul_title %></span>
        <ul class="navbar-nav ml-auto pull-right" style="font-size:0.3em; float:right; margin:10px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Others modules
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <% Modul.all.each do |modulo| %>
                <% if modulo.course_id == @modul.course_id %>
                  <% if modulo.modul_title == @modul.modul_title %>
                    <a class="dropdown-item" >
                  <% else %>
                    <a class="dropdown-item" href="/course/<%= modulo.course_id %>/<%= modulo.modul_title.to_s.parameterize %>/<%= modulo.modul_number %>">
                  <% end %>
                      <%= modulo.modul_title %>
                    </a>
              <% end end %>
            </div>
          </li>
        </ul>
      </h2>
      <hr style="margin:1px; border:rgba(255,255,255,1) 1px solid;">

      <p style="margin:1px; color:rgba(255,255,255,1); margin-top:10px;"><%= @modul.modul_description %></p>
      <br>
      <div class="">
        <p style="margin:1px; color:rgba(255,255,255,1);"><%= @modul.modul_content %></p>
      </div>






    </div>
    <div class="jumbotron col-sm-3 col-xs-12" style="float:right; border-left:rgba(255,255,255,0.1) 1px solid;">
      <% modul = @user.modul_users.find_by_modul_id(@modul.id) %>
      <% if modul %>
        <style>
          .read{background-color:rgba(0,244,0,1);}
          .gf{display:none;}
          .des{display:inline-block;}
        </style>
        <% else %>
        <style>
          .read{background-color:rgba(255,0,0,1);}
          .des{display:none;}
        </style>

      <% end %>

      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

      <diV class="sidebar" style=" background-color:rgba(39,61,88,0.3); width:100%; padding:10px; border-radius:3px;">
        <div style="width:100%;  padding:7px; background-color:rgba(255,255,255,1); border-radius:5px;">
          <div class="read" id="read" style="width:35px; height:35px; border-radius:100px; display:inline-block;"></div>

          <b class="des" id="des" style=" color:rgba(0,100,26,1); float:right; padding:5px; width:80%;">Module completed</b>

          <form id="idForm" action="/add/ModulUser" method="POST"  style="float:right; padding:5px;">
            <input type="hidden" name="modul_id" value="<%= @modul.id  %>">
            <input type="hidden" name="user_id" value="<%= @user.id  %>">
            <input type="hidden" name="status" value="1">
            <button type="submit" id="gf" class="btn btn-sm btn-info gf" onclick="myFunctione()">
                Complete
            </button>
          </form>


          <script>
            // this is the id of the form
            $("#idForm").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {

            }
            });
            });
          </script>
        </div>
        <% modula = Modul.find_by_modul_number(@modul.modul_number.to_i + 1) %>

        <% if modula  %>
          <a href="/course/<%= modula.course_id %>/<%= modula.modul_title.to_s.parameterize %>/<%= modula.modul_number %>" class="btn btn-outline-warning"  style="font-size:1.3em; display:block; margin-top:15px;">
              Lesson suivante
          </a>
        <% end %>
        <% if @user.courses.find_by_id(@modul.course_id)  %>
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal" style="font-size:1.3em; display:block; margin-top:15px; width:100%;">
          Edit this module
        </button>
        <% end %>
    </diV>


    <script>
        function myFunctione() {
          document.getElementById('gf').style.display = 'none';
          document.getElementById('read').style.backgroundColor = 'rgba(0,244,0,1)';
          document.getElementById('button').style.display = 'block';
          document.getElementById('des').style.display = 'inline-block';
        }
    </script>
    </div>
  </div>
</div>
