<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<% @title = "Show module" %>

<div class="container">
  <div class="row">
    <div class="jumbotron col-sm-9 col-xs-12" style="width:100%;">
      <h2>
        <span style="color:rgba(220,177,10);"><%= @modul.modul_title %></span>
        <ul class="navbar-nav ml-auto pull-right" style="font-size:0.3em; float:right; margin:10px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Others modules
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <% Modul.all.each do |modulo| %>
                <% if modulo.course_id == @modul.course_id %>
                  <% if modulo.modul_title == @modul.modul_title %>
                    <a class="dropdown-item" >
                  <% else %>
                    <a class="dropdown-item" href="/course/<%= modulo.course_id %>/<%= modulo.modul_title.to_s.parameterize %>/<%= modulo.id %>">
                  <% end %>
                      <%= modulo.modul_title %>
                    </a>
              <% end end %>
            </div>
          </li>
        </ul>
      </h2>
      <hr style="margin:1px; border:rgba(255,255,255,1) 1px solid;">

      <p style="margin:1px; color:rgba(255,255,255,1); margin-top:10px;"><%= @modul.modul_description %></p>
      <br>
      <div class="">
        <p style="margin:1px; color:rgba(255,255,255,1);"><%= @modul.modul_content %></p>
      </div>
    </div>
    <div class="jumbotron col-sm-3 col-xs-12" style="float:right; border-left:rgba(255,255,255,0.1) 1px solid;">
      <% if modul = @user.modul_users.find_by_modul_id(@modul.id) %>
        <style>
          .read{background-color:rgba(0,244,0,1);}
          .gf{display:none;}
          .des{display:inline-block;}
        </style>
        <% else %>
        <style>
          .read{background-color:rgba(255,0,0,1);}
          .des{display:none;}
        </style>

      <% end %>

      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

      <diV class="sidebar" style=" background-color:rgba(39,61,88,0.3); width:100%; padding:10px; border-radius:3px;">
        <div style="width:100%;  padding:7px; background-color:rgba(255,255,255,1); border-radius:5px;">
          <div class="read" id="read" style="width:35px; height:35px; border-radius:100px; display:inline-block;"></div>

          <form id="idForm" action="/add/ModulUser" method="POST"  style="float:right; margin:px; ">
              <input type="hidden" name="modul_id" value="<%= @modul.id  %>">
                  <input type="hidden" name="user_id" value="<%= @user.id  %>">
                      <input type="hidden" name="status" value="1">
              <button type="submit" id="gf" class="btn btn-sm btn-success gf" onclick="myFunctione()" style="float:right;">
                  Terminé
              </button>
          </form>
          <b class="des" id="des" style="float:right; padding:; width:20%; text-align:;">Done</b>


          <script>
            // this is the id of the form
            $("#idForm").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {

            }
            });
            });
          </script>
        </div>
        <% Modul.all do |modu| %>
        <% nex = modu.id + 1; %>
        <% if modu.id == nex %>

        <a href="/courses/show/{{$nom}}/{{$nex}}/{{$titre}}" class="button dark" id="button" style="text-align:center; margin-top:5px; width:91%; height:px; background-color:rgba(39,61,88,0.7); color:rgba(255,255,255,1);font-size:1.3em;">
            Lesson suivante
        </a>


    </diV>
    <% end end %>

    <script>
        function myFunctione() {
            document.getElementById('read').style.backgroundColor = 'rgba(0,244,0,1)';
            document.getElementById('button').style.display = 'block';
            document.getElementById('gf').style.display = 'none';
            document.getElementById('des').style.display = 'inline-block';
        }
    </script>
    </div>
  </div>
</div>
