<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>LearnHt | <%= @title || "Sign in" %></title>



    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
      <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>


      <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /*max-width: 300px;*/
        margin: auto;
        text-align: center;
        font-family: arial;
      }

      .title {
        font-size: 22px;
        color: grey;
      }

      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .button:hover, a:hover {
        opacity: 0.7;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
      }




      .containere {
          position: relative;
          width: 100%;
        }
        .image {
        display: block;
        width: 100%;
        height: auto;
        }

        .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(34,81,115,0.5);
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: .3s ease;
        transition: .3s ease;
        }

        .containere:hover .overlay {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        }

        .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        }
      </style>





  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--Fontawesome CDN-->
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body class="bg-ligh">
    <div class="wrapper">
      <% if Helpers.is_logged_in?(session) %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="banner">
        <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/"><span>Logo</span> Here</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="/classes">Classes</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/see/teachers">Teachers</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/see/students">Students</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Options
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/profile/user=<%= @user.pseudo %>">Profile</a>
                  <a class="dropdown-item" <% if @title != 'My class'%> href="/my-class/course"<% end %>>My class</a>
                <% if @user.is_admin.to_i == 1   %>
                <a class="dropdown-item" data-toggle="modal" data-target="#myModal2" href="#myModal1">Other options</a>
                <% end %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </nav>
      <% end %>
      <div class="container">
        <div class="row">
          <% if flash[:teacher] %>
            <div id="success" style="color:rgba(255,255,255,1);">
            <%= flash[:teacher] %>
            </div>
            <br>
          <% end %>

          <% if flash[:bb] %>
            <div id="success" style="color:rgba(255,255,255,1); padding:15px;">
            <%= flash[:bb] %>
            </div>
            <br><br><br><br>
          <% end %>

          <% if flash[:bon] %>
            <div id="success" style="color:rgba(255,255,255,1); padding:15px;">
            <%= flash[:bon] %>
            </div>
            <br><br><br><br>
          <% end %>

          <span class="alert"></span>
        </div>
      </div>



      <div class="modal" id="asteacher">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Make user to become a teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"  >
                <style media="screen">
                  .modal-body p{color: rgba(255,255,255,1)}
                </style>
                <% @us = User.all %>
                <% if @us %>
                  <% @us.each do |user| %>
                    <div class="card col-sm-5 col-xs-12" style="float:left;  background-color:rgba(255,255,255,0.5); margin:10px 15px 0; padding:10px; text-align:center;" >
                      <div class="" style="text-align:center;">
                        <img src="/images/user.png" alt="<%= user.pseudo %>" style="width:50%;" class="thumbnail">
                      </div>
                      <a href="/profil/user=<%= user.pseudo %>"><%= user.last_name %> <%= user.first_name %></a>
                      <p>
                        <% if user.is_a_teacher.to_i == 1 %>
                          Teacher
                        <% else %>
                          Student
                        <% end %>
                      </p>
                      <% if user.is_a_teacher.to_i == 1 %>
                      <form action="/change/student" method="post">
                      <% else %>
                      <form action="/change/teacher" method="post">
                      <% end %>
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <button type="submit" class="btn btn-primary" >change</button>
                      </form>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>




      <div class="modal" id="myModal2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">New teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <style media="screen">
                  .modal-body p{color: rgba(255,255,255,1)}
                </style>
                <p >
                  <form id="deletecourse" action="/delete/course" method="post" style=" display:block;">
                    Click here to clear all Course's class
                    <button id="deletecourse_submit" class="btn btn-primary btn-sm" style="float:right; margin-top:-7px;">Clear course's class</button>
                  </form>
                </p>
                <div class="dropdown-divider" style="margin-bottom:20px;"></div>
                <p >
                  <form id="deletemodul" action="/delete/module" method="post" style="display:block;">
                    Click here to clear all Module's class
                    <button id="deletemodul_submit" type="submit" class="btn btn-info btn-sm" style="float:right; margin-top:-7px;">Clear module's class</button>
                  </form>

                  <script type="text/javascript">
                    $(document).ready(function() {
                    var form = $('#deletemodul'); // contact form
                    var submit = $('#deletemodul_submi');  // submit button
                    var alert = $('.alert'); // alert div for show alert message

                    // form submit event
                    form.on('submit', function(e) {
                     e.preventDefault(); // prevent default form submit

                     $.ajax({
                       url: '/delete/module', // form action url
                       type: 'POST', // form submit method get/post
                       dataType: 'html', // request type html/json/xml
                       data: form.serialize(), // serialize form data
                       beforeSend: function() {
                         alert.fadeOut();
                         //submit.html('Envoyer'); // change submit button text
                       },
                       success: function(data) {
                         alert.html(data).fadeIn(); // fade in response data
                         form.trigger('reset'); // reset form
                       },
                       error: function(e) {
                         console.log(e)
                       }
                     });
                    });
                    });
                    </script>

                    <script type="text/javascript">
                      $(document).ready(function() {
                      var form = $('#deletecourse'); // contact form
                      var submit = $('#deletecourse_submi');  // submit button
                      var alert = $('.alert'); // alert div for show alert message

                      // form submit event
                      form.on('submit', function(e) {
                       e.preventDefault(); // prevent default form submit

                       $.ajax({
                         url: '/delete/course', // form action url
                         type: 'POST', // form submit method get/post
                         dataType: 'html', // request type html/json/xml
                         data: form.serialize(), // serialize form data
                         beforeSend: function() {
                           alert.fadeOut();
                           //submit.html('Envoyer'); // change submit button text
                         },
                         success: function(data) {
                           alert.html(data).fadeIn(); // fade in response data
                           form.trigger('reset'); // reset form
                         },
                         error: function(e) {
                           console.log(e)
                         }
                       });
                      });
                      });
                      </script>
                </p>
                <div class="dropdown-divider"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>

      <div class="modal" id="myModal1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form id="" action="/user/new" method="post" >
              <div class="modal-header">
                <h5 class="modal-title">New user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p style="color:rgba(255,255,255,1);">Filout this form to add a new user</p>

                <div class="form-group">
                  <label for="first_name">First name</label>
                  <select type="text" name="is_a_teacher" class="form-control" aria-describedby="emailHelp" placeholder="Choose the status of the user">
                    <option value="0">Choose the status of the user here</option>
                    <option value="1">Teacher</option>
                    <option value="0">Student</option>
                  </select>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                  <label for="first_name">First name</label>
                  <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the teacher's first name">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>


                <div class="form-group">
                  <label for="last_name">Last name</label>
                  <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the teacher's last name">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the teacher's email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>


                <div class="form-group">
                  <label for="pseudo">Pseudo</label>
                  <input type="pseudo" name="pseudo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the teacher's pseudo">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <input type="hidden" name="password" value="123">
                <input type="hidden" name="is_admin" value="0">



              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
        <%= yield %>

      <!--<footer class="branding">
        <small>&copy; 2019 <strong>LearnHt</strong></small>
      </footer>-->
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
